<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ataa.warwickhack2016" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/autolec"
        android:label="AutoLec"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <uses-sdk android:minSdkVersion="10" />

        <uses-feature
            android:name="android.hardware.nfc"
            android:required="true" />

        <activity android:name=".MainActivity"
            android:label="AutoLec"
            android:theme="@style/MyAppTheme">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ConfigActivity"
            android:label="AutoLec Settings"
            android:theme="@style/MyAppTheme" >
        </activity>

    </application>

</manifest>
